.footer-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.footer-text {
    margin-top: 25px;
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    color: #333;
}
.footer-text__link {
    text-decoration: none;
    color: #f38181;
}