.list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding-top: 15px;
} 
.navigation li:not(:last-child) {
    padding-right: 52px;
}
.menu-item__link {
    display: inline-block;
    text-decoration: none; 
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;  
}
.menu-item__link, .logo__link {
    color: #fff;
}
.menu-item__link:hover {
    -webkit-transition-property: color;
    -o-transition-property: color;
    transition-property: color;
    -webkit-transition-timing-function: linear;
         -o-transition-timing-function: linear;
            transition-timing-function: linear;
    -webkit-transition-duration: 200ms;
         -o-transition-duration: 200ms;
            transition-duration: 200ms;
    color: #fce38a;
}
.menu-item__link:after {  
    content: "";
    display: block;
    background-color: #fce38a;
    height: 3px;
    margin: 12px auto;
    opacity: 0;
}
.menu-item__link:hover:after {
    -webkit-transition-property: opacity;
    -o-transition-property: opacity;
    transition-property: opacity;
    -webkit-transition-timing-function: linear;
         -o-transition-timing-function: linear;
            transition-timing-function: linear;
    -webkit-transition-duration: 200ms;
         -o-transition-duration: 200ms;
            transition-duration: 200ms;
    opacity: 1;
}